<h1>Mutaciones</h1>
<hr>
<div class="crow">
  <div class="col-6">

    <input
    type="text"
    class="corm-control"
    #txtEmail
    (input)="onFieldUpdated('email',txtEmail.value)"
    [value]="user().email">
    <br>
    <input
    type="text"
    class="corm-control"
    #txtFirstName
    (input)="onFieldUpdated('first_name',txtFirstName.value)"
    [value]="user().first_name">
    <br>
    <input
    type="text"
    class="corm-control"
    #txtLastName
    (input)="onFieldUpdated('last_name',txtLastName.value)"
    [value]="user().last_name">

  </div>
  <div class="col-6">
    <pre>
      {{user() | json}}
      {{fullName()}}
    </pre>
  </div>
</div>
