<p-panel header="Pipes no comúnes" class="p-2">
  <h1>Pipes Númbers</h1>
  <p>Pipes incluidos en Angular - usualmente en el Common module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18n Select Pipe" [toggleable]="true">
      <p>
        Saludos {{name}}, es un placer {{gender | i18nSelect:invitationMap}}
        a nuestro evento.
      </p>
      <p-button
      (onClick)="changeClient()"
      label="Cambiar Persona"
      ></p-button>
    </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Plural Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="JSON Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true"> </p-fieldset>
  </div>

  <div class="col-12 md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true"> </p-fieldset>
  </div>

</div>
