
<!-- <h1 class="text-3xl mb-5">Control Flow</h1> -->
<app-title title="Control Flow" [withShadow]="!true"></app-title>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <!-- ngIf @if -->
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>
    <button
      class="p-2 bg-blue-500 rounded text-white"
      (click)="toggleContent()"
    >
      Click me!
    </button>
    @if(showContent()) {
    <p>Hola Mundo</p>
    } @else {
    <p>*****</p>
    }
  </div>

  <!-- @switch -->
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-3xl">{{ grade() }}</h2>

    @switch (grade()) { @case ('A') {
    <p>Arriba de 90</p>
    } @case ('B') {
    <p>Arriba de 80</p>
    } @default {
    <p>Reprobado</p>
    } }
  </div>

  <!-- @for -->
  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (frameWork of frameWorks(); track frameWork ; let i = $index, first = $first, last = $last, even = $even, odd = $odd, count = $count) {
      <li [class]="{'bg-red-100':even && !first && ! last,
                    'bg-purple-100':odd && !first && ! last,
                    'bg-blue-100':first || last}">
        {{ i + 1 }}/{{count}} - {{ frameWork }}
      </li>
      }
    </ul>
  </div>

  <div class="bg-white rounded shadow p-10">
    <ul>
      @for (frameWork of frameWorks2(); track frameWork; let i = $index; ) {
      <li>
        {{ frameWork }}
      </li>
      }
      @empty {
        <li>
          No hay frameWorks agregados
        </li>
      }
    </ul>
  </div>

</section>
