<h2>Por Capital</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- SearchBox -->
    <shared-search-box
    (onValue)="onSearchByCountry($event)"
    ></shared-search-box>
</div>
<div *ngIf="countries.length === 0 else table" class="alert alert-warning text-center">
  No hay paises que mostrar
</div>

<ng-template #table >
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Simbolo</th>
        <th>Bandera</th>
        <th>Nombre Pais</th>
        <th>Nombre capital</th>
        <th>Población</th>
        <th>Ver más</th>
      </tr>
    </thead>
    <tbody>
<tr *ngFor="let country of countries; let i = index">
  <td>
    {{i+1}}
  </td>
  <td>
    {{country.flag}}
  </td>
  <td>
   <img [src]="country.flags.svg" [alt]="country.name.common" >
  </td>
  <td>
    {{country.name.common}}
  </td>
  <td>
    {{country.capital}}
  </td>
  <td>
    {{country.population | number}}
  </td>
  <td>
    <a href="#">Ver más</a>
  </td>
</tr>
    </tbody>
  </table>
</ng-template>

